<<<<<<< HEAD
<div class="skill-box">
    <img src="{{ product.featured_image | image_url }}" width="50px" height="50px">
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>
=======
<div class="skill-box">
    <img src="{{ product.featured_image | image_url }}" width="50px" height="50px">
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>
>>>>>>> 25063dbf90c27e6f299a3e074499d038a02a4de1
</div>